<div class="row no-gutters mt-4">
    <div class="col-lg-3 col-sm-6">
        <div class="feature-info h-100">
            <div class="feature-info-icon">
                <i class="flaticon-like"></i>
            </div>
            <div class="feature-info-content">
                <h6 class="mb-3 feature-info-title">Excellent reputation</h6>
                <p class="mb-0">Our comprehensive database of listings and market info give the most accurate view of the market and your home value.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="feature-info h-100">
            <div class="feature-info-icon">
                <i class="flaticon-agent"></i>
            </div>
            <div class="feature-info-content">
                <h6 class="mb-3 feature-info-title">Best local agents</h6>
                <p class="mb-0">You are just minutes from joining with the best agents who are fired up about helping you Buy or sell.</p>
            </div>
        </div>
    </div>
    @*<div class="col-lg-3 col-sm-6">
            <div class="feature-info h-100">
                <div class="feature-info-icon">
                    <i class="flaticon-like-1"></i>
                </div>
                <div class="feature-info-content">
                    <h6 class="mb-3 feature-info-title">Peace of mind</h6>
                    <p class="mb-0">Rest guaranteed that your agent and their expert team are handling every detail of your transaction from start to end.</p>
                </div>
            </div>
        </div>*@
    <div class="col-lg-3 col-sm-6">
        <div class="feature-info h-100">
            <div class="feature-info-icon">
                <i class="flaticon-house-1"></i>
            </div>
            <div class="feature-info-content">
                <h6 class="mb-3 feature-info-title">Tons of options</h6>
                <p class="mb-0">Until your house gets ready, we will be hosting you at 4-5 star hotels which will be paid from us. During this process, all the transfer fees will be covered by us.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="feature-info h-100">
            <div class="feature-info-icon">
                <i class="flaticon-taxi"></i>
            </div>
            <div class="feature-info-content">
                <h6 class="mb-3 feature-info-title">Tons of options</h6>
                <p class="mb-0"> The fees required for your passport, Visa and the flight ticket will be covered by us. All the taxes of the house you won will be payed by us. All the legal fees will be funded by us. Electricity, water, natural gas subscriptions are covered by our side. </p>
            </div>
        </div>
    </div>
</div>